version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - run:
          command: pip install -r requirements.txt
          name: Install Requirements
      - run:
          command: |
            coverage run -m unittest discover tests/
            coverage report
            codecov
          name: Test with Coverage

workflows:
  main:
    jobs:
      - build-and-test
