version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          command: pip install -r requirements.txt
          name: Install Requirements
      - run:
          command: |
            coverage run -m unittest discover tests/
            coverage report
            codecov
          name: Test with Coverage

workflows:
  main:
    jobs:
      - build-and-test
